.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 900px;
}

.carousel-inner {
  white-space: nowrap;
  transition: ease 1s;
}

.carousel-item {
  display: inline-block;
  width: 100%;
}

img {
  max-width: 900px;
}
